<div>
  {% for item in items %} {{item}} {% endfor %} {% if items|length > 0 %} 
  {% for item in items %}
  <h1>{{ item.product.title }}</h1>

  <input
    type="number"
    name="quantity"
    value="{{item.quantity}}"
    min="1"
    required
    disabled
  />
  <form action="{% url 'cart-add' item.product.pk %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.pk }}" />
    <input type="hidden" name="quantity" value="1" required />
    <button type="submit">+</button>
  </form>
  <form action="{% url 'cart-add' item.product.pk %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.pk }}" />
    <input type="hidden" name="quantity" value="-1" required />

    <button type="submit">-</button>
  </form>

  <form action="" method="post">
    <button>delete from cart</button>
  </form>
  {% endfor %} {% else %}
  <h2>No items in your cart</h2>
  {% endif %}
</div>
