<div style="text-align: -webkit-center">
  {% if items|length > 0 %}
  <h2>سبد خرید</h2>
  {% for item in items %}

  <div style="border: 2px solid; width: 30rem">
    <h1 style="margin-left: 1rem">{{ item.product.title }}</h1>
    <div class="quantity">
      <h3>تعداد : {{item.quantity}}</h3>
    </div>
    <div
      class="add-remove-forms"
      style="display: -webkit-box; margin-left: 1rem"
    >
      <input
        type="number"
        name="quantity"
        value="{{item.quantity}}"
        min="1"
        required
        disabled
      />
      <form action="{% url 'cart-add' item.product.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.pk }}" />
        <input type="hidden" name="quantity" value="1" required />
        <button type="submit">+</button>
      </form>
      <form action="{% url 'cart-add' item.product.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.pk }}" />
        <input type="hidden" name="quantity" value="-1" required />

        <button type="submit">-</button>
      </form>
    </div>

    <form action="{% url 'cart-remove' item.product.pk %}" method="post">
      {% csrf_token %}
      <button style="margin-left: 1rem">delete from cart</button>
    </form>
  </div>
  {% endfor %}
  <div
    class="cart-summary"
    style="
      background: orange;
      width: 30rem;
      border: 2px solid;
      margin-top: 0;
      text-align: -webkit-center;
      height: 5rem;
      align-content: center;
    "
  >
    <h3>هزینه کل {{total_price}} تومان</h3>
  </div>
  {% else %}
  <h2>No items in your cart</h2>
  {% endif %}
</div>
