{% include "navbar/navbar.html" %}
<div style="width: 58rem; place-self: center">
  {% include "products/base_product_card.html" with product=product %}
   {% if request.user.is_superuser %}

  <div class="add-product" style="margin-left: -32rem">
    <h2>ویرایش محصول</h2>
    <form
      method="post"
      action="{% url 'products_list' %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          required
          placeholder="{{product.title}}"
        />
      </div>
      <div class="form-group">
        <label for="category">Category </label>
        {{form.category}}
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          required
          placeholder="{{product.description}}"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input
          aria-placeholder="{{product.price}}"
          type="number"
          name="price"
          id="price"
          placeholder="0"
          required
        />
      </div>
      <div class="form-group">
        <label for="available">Status</label>
        {{form.available}}
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input
          placeholder="{{product.image}}"
          type="file"
          name="image"
          بندی
          id="image"
          title="Choose a video please"
          required
        />
      </div>
      <button style="margin-left: 58rem; margin-top: 5rem">Edit</button>
    </form>
  </div>
  <div class="delete-product-button" style="place-items: center">
    <form method="POST" style="margin-top: 20px">
      {% csrf_token %}
      <button
        type="submit"
        name="delete"
        style="background-color: red; color: white"
      >
        Delete
      </button>
    </form>
  </div>
  {% endif %}
</div>
